.sidenav-container{
    position: absolute;
    height: auto;
    transition: all 0.5s ease;
    padding: 10px;
}

.sidenav-container.hidden{
    position: absolute;
    transform: translateX(-100%);
  
}
.each-category:hover{
    color:rgb(1, 48, 255);
    cursor:pointer;
}